body{

margin:0;
padding:0;
font-family:Arial;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

background:linear-gradient(135deg,#ff4b7d,#ff758c);

overflow:hidden;

}

.container{

text-align:center;

}

#formBox,
#loveBox{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 0 25px rgba(0,0,0,.3);

width:280px;

}

input{

width:90%;

padding:12px;

margin:10px;

font-size:18px;

}

button{

padding:12px 25px;

font-size:18px;

border:none;

border-radius:50px;

background:#ff2d55;

color:white;

cursor:pointer;

}

button:hover{

background:#ff003c;

}

#loveBox{

display:none;

}

#loveText{

font-size:42px;

color:#ff0044;

animation:zoom 1s infinite alternate;

}

@keyframes zoom{

from{

transform:scale(1);

}

to{

transform:scale(1.25);

}

}

.heart{

position:absolute;

color:red;

font-size:30px;

animation:float 5s linear infinite;

}

@keyframes float{

0%{

transform:translateY(100vh);

opacity:1;

}

100%{

transform:translateY(-120vh);

opacity:0;

}

}
